<div class="container">

<div class="row">
    <div style="margin-left: 370px;" class="alert alert-success alert-dismissible" role="alert">
        <h3 style="font-family: 'Times New Roman', Times, serif; text-align: center;">Form validated successfully</h3>
    </div>
</div>

<div class="card" style=" margin-left:410px; width: 18rem;">
    <div class="card-body">
      <p class="card-text"><%= name %> <%= prenom %></p>
      <p class="card-text"><%= email %></p>
      <p class="card-text"><%= mobile %></p>
      <p class="card-text"><%= country %></p>
    </div>
  </div>

</div>
</div>

